<header>
  <nav class="navbar navbar-expand-lg bg-dark">
    <a class="navbar-brand" href="/urls"><strong>TinyApp</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%if (user_id) { %>
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <% } %>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <%if (!user_id || user_id === undefined) { %>
          <a class="nav-item nav-link" style="position: absolute; right: 8%" href="/register">Register</a>
          <a class="nav-item nav-link" style="position: absolute; right: 2%" href="/login">Login</a>
        <% } else { %>
          <span><h6 class="nav-item nav-link" style='display: inline; position: absolute; right: 10%; top: 15%; color: whitesmoke'>Logged In As: <%= user_id%> </h6></span>
          <form method="POST" action="/logout">
            <button class="btn btn-outline-success my-2 my-sm-0" style="position: absolute; right: 2%; top: 15%"  type="submit">Logout</button>
          </form>
        <% } %>
      </div>
    </div>
  </nav>
</header>